{% extends 'GolfEnLaNubeBundle::layout.html.twig' %}

{% block page_header %}
	<h3>Cargar tarjeta del jugador <small>{{ entity.torneofechajugador.jugador.persona.nombrecompleto }} - Matr&iacute;cula: {{ entity.torneofechajugador.jugador.matriculaaag }}</small></h3>
	<h4>Torneo: {{ entity.torneofechajugador.torneofecha.torneo.nombre }} <small>|</small> Fecha: {{ entity.torneofechajugador.torneofecha.fecha|date('d-m-Y') }}</h4>
{% endblock %}

{% block body -%}
	<div class='row'>
		<div class='col-md-6'>
			{{ form_start(form, {style: 'horizontal'}) }}
			{{ form_widget(form._token) }}
			{{ form_widget(form.torneo_fecha_jugador) }}
			
			{{ form_row(form.estado) }}
			
			<div id='div_comentario' class='hide'>{{ form_row(form.comentario) }}</div>

			
			{% if (entity.hoyos|length > 9) %}
				{% set cols = 6 %}
				{% set filas = (entity.hoyos|length) / 2 %}
			{% else %}
				{% set cols = 12 %}
				{% set filas = 9 %}
			{% endif %}
		
			<div class='row '>
				<div class='col-xs-{{ cols }} '>
					<h4>Ida</h4>
					<div class='form-group'>
						<label class="control-label col-xs-4">Hoyo</label>
						<label class="control-label col-xs-6">Golpes</label>
					</div>
					
					{% for hoyo in form.hoyos|slice(0, filas) %}
		
						<div class='form-group'>
						{{ form_widget(hoyo.hoyo) }}
							<label class="control-label col-xs-4" for="{{ hoyo.golpes.vars.id }}">
								{{ hoyo.hoyo.vars.value }}
							</label>
							<div class="col-xs-6">
								{{ form_widget(hoyo.golpes, {'attr': {'data-idavta': 'ida', 'data-role':'golpes_por_hoyo', 'min': 1}}) }}
							</div>
						</div>
		
					{% endfor %}
					<div class='form-group'>
						<label class="control-label col-xs-4" for="Ida">Ida</label>
						<div class="col-xs-6" id='golpes_ida'></div>
					</div>
				</div>

				{% if (cols == 6) %}
					<div class='col-xs-{{ cols }} '>
						<h4>Vuelta</h4>
						<div class='form-group'>
							<label class="control-label col-xs-4">Hoyo</label>
							<label class="control-label col-xs-6">Golpes</label>
						</div>
						
						{% for hoyo in form.hoyos|slice(filas, filas) %}
			
							<div class='form-group'>
							{{ form_widget(hoyo.hoyo) }}
								<label class="control-label col-xs-4" for="{{ hoyo.golpes.vars.id }}">
									{{ hoyo.hoyo.vars.value }}
								</label>
								<div class="col-xs-6">
									{{ form_widget(hoyo.golpes, {'attr': {'data-idavta': 'vta', 'data-role':'golpes_por_hoyo', 'min': 1}}) }}
								</div>
							</div>
			
						{% endfor %}
						<div class='form-group'>
							<label class="control-label col-xs-4" for="Ida">Vuelta</label>
							<div class="col-xs-6" id='golpes_vta'></div>
						</div>
						
					</div>
				{% endif %}
			</div>
				
				{{ form_row(form.submit) }}
				
				
			</form>
			
		</div>
	</div>
	<div class='row'>
		<div class='col-md-12'>
			<ul class="record_actions list-inline">
				<li>
						<a href="{{ path('admin_torneofecha_lista_jugadores_cargar_tarjetas', {'id_torneo_fecha': entity.torneofechajugador.torneofecha.id}) }}">
							Volver
						</a>
				</li>
			</ul>
		</div>
	</div>
{% endblock %}

{% block javascripts %}

<script type="text/javascript">

function setHoyosRequired(val)
{
	$('input[data-role=golpes_por_hoyo]').each(function () {
		if (val == true) 
		{
			$(this).attr('required', 'required');
		} else {
			$(this).removeAttr('required');
		}
		
	});
}

function showComentario(val)
{
	if ( true == val)
	{ 
		$('#div_comentario').removeClass('hide');
		$('#par3_golfenlanubebundle_tarjeta_comentario').attr('required', 'required');
	} else {
		$('#div_comentario').addClass('hide');
		$('#par3_golfenlanubebundle_tarjeta_comentario').removeAttr('required');
	} 
}

function sumarGolpesIdaVta(idavta)
{
	var total = 0; 
	$('input[data-idavta=' + idavta + ']').each(function () {
		if ($.trim($(this).val()) != '') total += parseInt($(this).val());  
	});

	return total ; 
}


$(document).ready(function () {

	$('input[data-role=golpes_por_hoyo]').on('change', function (event) {
		var idavta = $(this).attr('data-idavta');
		var output_div = $('div#golpes_' + idavta); 
				
		var total = sumarGolpesIdaVta(idavta);

		if (total > 0) $(output_div).html(total); 
		else $(output_div).html('');
	});
	$('input[data-role=golpes_por_hoyo]').on('keypress', function (event) {
	    if (event.which == 13) {
	    	textboxes = $("input[data-role=golpes_por_hoyo]");
	        currentBoxNumber = textboxes.index(this);
	        if (textboxes[currentBoxNumber + 1] != null) 
		    {
	            nextBox = textboxes[currentBoxNumber + 1]
	            nextBox.focus();
	            nextBox.select();
	            event.preventDefault();
	            return false 
            } else {
                $('button:submit').focus();
            }
	        event.preventDefault();
        }
	});

    $('form').on('submit', function (event) {
	    if ( !confirm('Esta seguro que los datos de la tarjeta son correctos?') )
	    { 
		    event.preventDefault(); return ; 
		}
	});

	$('select[id$=estado]').on('change', function(event) {
		if ($('select[id$=estado] option:selected').val() == 'OK')
		{
			setHoyosRequired(true);
			showComentario(false);
		} else {
			setHoyosRequired(false);
			showComentario(true);
		}
	});
	setHoyosRequired(true);
});
</script> 

{% endblock %}
