{% extends '::base.html.twig' %}

{% block body -%}
    <h1>TorneoFechaJugador</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Id_torneo_fecha</th>
                <td>{{ entity.idtorneofecha }}</td>
            </tr>
            <tr>
                <th>Id_jugador</th>
                <td>{{ entity.idjugador }}</td>
            </tr>
            <tr>
                <th>Id_equipo</th>
                <td>{{ entity.idequipo }}</td>
            </tr>
            <tr>
                <th>Capitan_equipo</th>
                <td>{{ entity.capitanequipo }}</td>
            </tr>
            <tr>
                <th>Titular</th>
                <td>{{ entity.titular }}</td>
            </tr>
            <tr>
                <th>Id_club</th>
                <td>{{ entity.idclub }}</td>
            </tr>
            <tr>
                <th>Handicap_par3</th>
                <td>{{ entity.handicappar3 }}</td>
            </tr>
            <tr>
                <th>Handicap_estandar</th>
                <td>{{ entity.handicapestandar }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('torneofechajugador') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('torneofechajugador_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
