{% extends 'GolfEnLaNubeBundle::layout.html.twig' %}

{% block stylesheets %}
	<link href="{{ asset('/bundles/golfenlanube/css/jquery-ui-1.10.4.custom.min.css') }}" rel="stylesheet" />
	{{ form_stylesheet(form) }}
{% endblock %}

{% block javascripts %}
	<script src="{{ asset('/bundles/golfenlanube/js/jquery-ui-1.10.4.custom.min.js') }}" ></script>
	{{ form_javascript(form) }}
{% endblock %}

{% block page_header %}
	<h3>Nueva Temporada </h3>
	<h4>Circuito: {{ entity.circuito }}</h4>
{% endblock %}

{% block body -%}
	<div class='row'>
		<div class='col-md-12'>
    		{{ form(form, {'style': 'horizontal'}) }}
    	</div>
	</div>
	
	<div class='row'>
		<div class='col-md-12'>
	        <ul class="record_actions">
			    <li>
			        <a href="{{ path('admin_temporada') }}">
			            Back to the list
			        </a>
			    </li>
			</ul>
		</div>
	</div>
{% endblock %}
